.inner {
    width: 700px;
}

.imprint ul li {
    list-style: none;
    padding: 0 0 10px 0;
}

footer a {
    color: #aaa;
    text-decoration: underline;
}

footer a:hover, footer a:focus {
    text-decoration: none;
}
