---
menu:
-
    id: home
    url: /
-
    id: modules
    url: /modules
-
    id: contribute
    url: /contribute
-
    id: about
    url: /about
submenu:
-
    id: MageSetup
    url: /modules/magesetup
-
    id: Customer
    url: /modules/customer
-
    id: Pdf
    url: /modules/pdf
-
    id: Logger
    url: /modules/logger
-
    id: DynamicCategory
    url: /modules/dynamiccategory
-
    id: Debug
    url: /modules/debug
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }} // FireGento</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/vnd.microsoft.icon" />
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/pygment_trac.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/firegento.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/print.css" media="print"/>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43865275-1']);
      _gaq.push(['_gat._anonymizeIp']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

<body class="{{ page.bodyclass }}">
    <div id="container">
        <div class="inner">
            <header>
                <a href="{{site.baseurl}}">
                    <img src="{{site.baseurl}}/images/logo_small.png" alt="FireGento" title="FireGento" />
                </a>
            </header>
            <hr />
            <section id="navcontainer">
                <ul id="navlist">
                    {% for element in page.menu %}
                        {% if page.id == element.id %}
                            <li id="active">
                                <a href="{{element.url}}" id="current">{{element.id}}</a>
                            </li>
                        {% else %}
                            <li><a href="{{element.url}}">{{element.id}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            {% if page.id == "modules" %}
                <section id="subnavcontainer">
                    <ul id="subnavlist">
                        {% for element in page.submenu %}
                            <li><a href="{{element.url}}">{{element.id}}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
            <hr />
            <section id="main_content">
                {{content}}
            </section>
            <footer>
                &copy; 2013 FireGento e.V. // <a href="{{site.baseurl}}/about/">About</a> // <a href="https://github.com/firegento" target="_blank">Github</a> // <a href="{{site.baseurl}}/privacy/">Privacy</a> // <a href="{{site.baseurl}}/imprint/">Imprint</a>
            </footer>
        </div>
    </div>
</body>
</html>
